@use './partials/variables'as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

#admin {
    height: 100vh;
    overflow: hidden;
    display: flex;

    #sidebar {
        background-color: $black;
        padding: 0.5rem;
        color: $white;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #000000;
        background-image: url("/images/wavey-fingerprint.svg");

        .nav-link {
            color: $white;

            &:hover {
                color: $red-color !important;
                transform: scale(1.1) translateX(5px);
                transition: 0.5s;
                transition-timing-function: ease;
            }
        }
    }

    #wrapper {
        width: calc(100% - 200px);


        header {
            min-height: 70px;

            .img-profile {
                height: 2rem;
                width: 2rem;
            }
        }
    }
}